.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  max-width: 1240px;
}

.gallery-title {
  margin-bottom: 1rem;
}

.gallery-paintings {
  display: grid;   
  grid-template-columns: 1fr;
  width: 100%;
}

@media (min-width: 576px) {
  .gallery-paintings {
    gap: 1rem;   
  }
}

@media (min-width: 860px) {
  .gallery-paintings {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));   
    grid-template-rows: masonry; 
  }
}

.painting {
  border: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

@media (min-width: 576px) {
  .painting {
    border: 1px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
}

.painting-info {
  padding: 1rem;
}

.painting-title {
  font-style: italic;
  font-size: larger;
}
